@import url('https://fonts.googleapis.com/css2?family=Rasa&family=Roboto:wght@400;700&family=Seaweed+Script&display=swap');

:root {
  --dark-red: #ff020a;
  --medium-red: #ff595e;
  --light-red: #ffaeb1;
  --blue: #1982c4;
  --purpule: #6a4c93;
}

h1,
p {
  font-family: Lato, sans-serif;
}

h1 {
  color: black;
  font-family: "Seaweed Script", serif;
}

h2 {
  color: var(--medium-red);
  font-family: "Roboto", serif;
  font-weight: bold;
  font-size: 2em;
}

h3 {
  color: var(--purpule);
  font-family: "Roboto", serif;
}

body {
  margin: 0;
  background-color: white;
  font-family: Roboto, serif;
}

#react {
  display: grid;
  grid-template-areas:
    "header"
    "main"
    "footer";

  grid-template-rows: 10em auto auto;
}

header {
  grid-area: header;
  background-color: var(--medium-red);
}

header h1 {
  margin: 0;
}

main {
  grid-area: main;
}

footer {
  grid-area: footer;
  background-color: lightblue;
}
