:root {
  --dark-red: #ff020a;
  --medium-red: #ff595e;
  --light-red: #ffaeb1;
  --blue: #1982c4;
  --purpule: #6a4c93;
}

h1,
p {
  font-family: Lato;
}

body {
  margin: 0;
  background-color: white;
}

#react {
  display: grid;
  grid-template-areas:
    "header"
    "main"
    "footer";

  grid-template-rows: 10em auto auto;
}

header {
  grid-area: header;
  background-color: var(--medium-red);
}

header h1 {
  margin: 0;
}

main {
  grid-area: main;
}

footer {
  grid-area: footer;
  background-color: lightblue;
}
